                                            /*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

		/* MAIN CSS */
 		/* LAYOUT */

body {
    margin-top: 13vh;
}

section {
    max-width: 80vw;
    max-width: 80%;
    margin: auto;
}

article {
    text-align: center;
}

.single-article {
    text-align: left;
}

img, blockquote, iframe, span {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

span {
    text-align: center;
}

blockquote, iframe {
    margin-top: 1.3em;
    margin-bottom: 1.5em;
}

img {
    margin-top: 1.3em;
}

p {
    margin-bottom: 1em;
}

small {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5em 0 1em 0;
}

span {
    margin-top: 1em;
    margin-bottom: 0.9em;
    text-align: center;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul {
    margin-bottom: 1em;
}

.main-header ul {
    margin-bottom: 0;
}

li {
    list-style: circle;
    margin-left: 10%;
}

.posts header {
    margin-bottom: 3em;
}

.posts p {
    margin-bottom: 0.3em;
}

.posts img {
    max-width: 60%;
}

.single-article header, .posts header, .name {
    margin: 15% 0;
}

footer {
    text-align: center;
    margin-bottom: 3%;
}

.post-footer {
    max-width: 460px;
    text-align: center;
    margin: auto;
    background: #F5F5F5;
    padding: 20px 15px 5px 15px;
    border-radius: 25px;
    margin-bottom: 1.5em;
}

.ampersand{
    margin: auto;
    margin-bottom: 0.3em;
}

.credit {
    margin-bottom: 0;
}

		/* TYPOGRAPHY */

body {
    font: 21px/1.375 'Alegreya', 'Georgia', 'Times New Roman', serif;
    color: #272F32;
    text-align: left;
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', 'Alegreya', 'Georgia', 'Times New Roman', serif;
    text-align: center;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 1.75em;
    line-height: 1.05;
}

h2 {
    font-size: 1.60em;
    line-height: 1.25;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.50em;
    line-height: 1.25;
    margin-bottom: 0.4em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.2222222222;
    margin-bottom: 1em;
}

small, span {
    font-style: italic;
}

.posts h1 a {
    font-size: 1em;
}

.posts h1 a {
    text-decoration: none;
}

em, strong {
    color: #b10c00;
}

strong {
    font-style: italic;
}

a, small {
    color: #b10c00;
}

blockquote {
    font-family: 'Alegreya';
    font-style: italic;
    color: #b10c00;
}

.main-menu a {
    font-style: normal;
}

		/* DETAILS & EFFECTS */

a {
    text-decoration: underline;
}

a {
    color: #b10c00;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}
a:hover {
    color: #345059;
}

a:visited, a:active {
}

/* Adapted blockquote from Max: "http://codepen.io/maxds/pen/DcveB/" */

blockquote{
    max-width: 70%;
    display: block;
    padding: 0 auto;
    position: relative;
  /*Font*/
    font-size: 1em;
    line-height: 1.25833333;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

.pagination a{
    float: right;
    width: 4em;
    text-align: right;
}

.pagination a:last-child {
    float: left;
    text-align: left;
}

footer {
    color: #272F32;
}

                                        /* MEDIA QUERIES */

@media (max-width: 600px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 1.2em;
    }
}


@media (min-width: 700px) {
    section {
        max-width: 60vw;
    }

    h1 {
        font-size: 2em;
    }

    blockquote {
        font-size: 1.1em;
    }
}

@media (min-width: 1920px) {
    section {
        max-width: 45vw;
    }

    h1 {
        font-size: 3em;
    }

    .main-header {
        margin: 5% 0;
    }
}
